
[*.cs]

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1401: Field should be private
dotnet_diagnostic.SA1401.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = silent

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# xUnit1044: Type is not serializable
dotnet_diagnostic.xUnit1044.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = none
